<nav x-data="{ open: false }" @keydown.window.escape="open = false" class="bg-gray-800 shadow-xl w-full z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= link_to "Cociety", root_path, class: 'text-gray-100 text-lg' %>
        </div>
      </div>
      <div class="hidden md:block">
        <%= render "application/nav/customer" %>
      </div>
      <div class="-mr-2 flex md:hidden">
        <%= render "application/nav/hamburger/button" %>
      </div>
    </div>
  </div>
  <%= render "application/nav/hamburger/menu" %>
</nav>