<% if customer_has_profile_image? %>
  <%= image_tag(current_customer.image_url, classs: "inline-block h-8 w-8 rounded-full", alt: current_customer.name) %>
<% else %>
  <span class="inline-flex items-center justify-center h-8 w-8 rounded-full bg-gray-500">
    <span class="font-medium leading-none text-white"><%= current_customer.name.initials %></span>
  </span>
<% end %>